<%= form_for(@tipo_dato) do |f| %>
  <% if @tipo_dato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tipo_dato.errors.count, "error") %> prohibited this tipo_dato from being saved:</h2>

      <ul>
      <% @tipo_dato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo_dato %><br>
    <%= f.text_field :tipo_dato %>
  </div>
  <div class="field">
    <%= f.label :dataprot %><br>
    <%= f.text_field :dataprot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
