<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo dato:</strong>
  <%= @tipo_dato.tipo_dato %>
</p>

<p>
  <strong>Dataprot:</strong>
  <%= @tipo_dato.dataprot %>
</p>

<%= link_to 'Edit', edit_tipo_dato_path(@tipo_dato) %> |
<%= link_to 'Back', tipo_datos_path %>
