<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre Menú: </strong>
  <%= @pagina.nombre %>
</p>

<p>
  <strong>Descripción: </strong>
  <%= simple_format @pagina.contenido %>
</p>

<p>
  <strong>Ruta: </strong>
  <%= @pagina.ruta %>
</p>

<p>
  <strong>Árbol: </strong>
    <% @pagina.ancestors.each do |pagina| %>
        <%= pagina.nombre %> &gt;
    <% end %>
</p>

<%= link_to 'Edit', edit_pagina_path(@pagina) %> |
<%= link_to 'Back', paginas_path %>
