<%- model_class = MarcaProducto -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:clave_marca) %>:</strong></dt>
  <dd><%= @marca_producto.clave_marca %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre_marca) %>:</strong></dt>
  <dd><%= @marca_producto.nombre_marca %></dd>
</dl>
<table>
  <thead>
    <tr>
      <th>Clave Modelo</th>
      <th>Modelo</th>
    </tr>
  </thead>
  <tbody>
    <% @modelo_productos.each do |modelo_producto| %>
      <tr>
        <td><%= modelo_producto.clave_modelo %></td>
        <td><%= modelo_producto.nombre_modelo %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<%= link_to t('.back', :default => t("helpers.links.back")),
              marca_productos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_marca_producto_path(@marca_producto), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              marca_producto_path(@marca_producto),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>