<%- model_class = TipoPersona -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_tipo_persona_path,
            :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:tipo_persona) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tipo_personas.each do |tipo_persona| %>
      <tr>
        <td><%= link_to tipo_persona.tipo_persona, tipo_persona_path(tipo_persona) %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tipo_persona_path(tipo_persona), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tipo_persona_path(tipo_persona),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


