<p id="notice"><%= notice %></p>

<h1>Listado de Viajes</h1>

<table>
  <thead>
    <tr>
      <th>Origen</th>
      <th>Destino</th>
      <th>Distancia</th>
      <th>Combustible</th>
      <th>Peaje</th>
      <th>Gasto extra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @viajes.each do |viaje| %>
      <tr>
        <td><%= viaje.origen %></td>
        <td><%= viaje.destino %></td>
        <td><%= viaje.distancia %></td>
        <td><%= viaje.combustible %></td>
        <td><%= viaje.Peaje %></td>
        <td><%= viaje.gasto_extra %></td>
        <td><%= link_to 'Show', viaje %></td>
        <td><%= link_to 'Edit', edit_viaje_path(viaje) %></td>
        <td><%= link_to 'Destroy', viaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Viaje', new_viaje_path %>
