<%= simple_form_for(@rol_persona) do |f| %>
<%= f.hidden_field :tipo_persona_id %>
<h2><%= @tipo_persona.tipo_persona %></h2>
    <%= f.input :rol_persona %><br>
  <%= f.simple_fields_for :caracter_rol_personas do |builder| %>
  	<%= render 'layouts/caracteristica_fields', f: builder %>
  <% end %>
  <%= link_to_add_fields "Agrega caracteristica", f, :caracter_rol_personas %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
