<p id="notice"><%= notice %></p>

<h1>Listing Caracter Rol Personas</h1>

<table>
  <thead>
    <tr>
      <th>Caracteristica</th>
      <th>Requerido</th>
      <th>Rol persona</th>
      <th>Tipo dato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracter_rol_personas.each do |caracter_rol_persona| %>
      <tr>
        <td><%= caracter_rol_persona.caracteristica %></td>
        <td><%= caracter_rol_persona.requerido %></td>
        <td><%= caracter_rol_persona.rol_persona %></td>
        <td><%= caracter_rol_persona.tipo_dato %></td>
        <td><%= link_to 'Show', caracter_rol_persona %></td>
        <td><%= link_to 'Edit', edit_caracter_rol_persona_path(caracter_rol_persona) %></td>
        <td><%= link_to 'Destroy', caracter_rol_persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracter rol persona', new_caracter_rol_persona_path %>
