<%= form_for(@estado) do |f| %>
  <% if @estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado.errors.count, "error") %> prohibited this estado from being saved:</h2>

      <ul>
      <% @estado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre_estado %><br>
    <%= f.text_field :nombre_estado %>
  </div>
  <div class="field">
    <%= f.label :nacion_id %><br>
    <%= f.text_field :nacion_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
