<%= form_for(@caracter_tipo_persona) do |f| %>
  <% if @caracter_tipo_persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caracter_tipo_persona.errors.count, "error") %> prohibited this caracter_tipo_persona from being saved:</h2>

      <ul>
      <% @caracter_tipo_persona.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :caracteristica %><br>
    <%= f.text_field :caracteristica %>
  </div>
  <div class="field">
    <%= f.label :requerido %><br>
    <%= f.check_box :requerido %>
  </div>
  <div class="field">
  	<%= f.collection_select(:tipo_dato_id, @tipo_datos, :id, :tipo_dato, {:prompt => 'Tipo de Dato'}) %>
  </div>
  <div class="field">
  	<%= f.collection_select(:tipo_persona_id, @tipo_personas, :id, :tipo_persona, {:prompt => 'Tipo de Persona'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
