<!DOCTYPE html>
<html>
	<head>
		<title>
				<%= content_for?(:title) ? yield(:title) :"Control Transporte" %>
		</title>
		<!-- [if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<%= render 'layouts/barranav' %>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
				    
					<%= yield %>
				</div>
				<div class="col-md-3">
					<h2>Espacio reservado</h2>
					

				</div>
			</div>

		</div>

	</body>
</html>
