<!DOCTYPE html>
<html>
	<head>
		<title>
				<%= content_for?(:title) ? yield(:title) :"Control Transporte" %>
		</title>
		<!-- [if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= nav_bar fixed: :top, responsive: true, inverse: true, brand: "Llevamos a to2 la2" do %>
			<%= menu_group do %>
				<%= drop_down "Administración" do%>
					<%= menu_item "Tipos de Datos", tipo_datos_path%>
					<%= menu_item "Tipos de Personas", tipo_personas_path%>
					<%= menu_item "Roles de Personas", rol_personas_path%>
					<%= menu_item "Geografía", nacions_path %>
				<% end %>
				<%= menu_item "Personas", personas_path %>
				<%= menu_item "Faltante" %>
				<%= menu_item "Sobrante" %>
			<% end %>
		<% end %>

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<%= yield %>
				</div>
				<div class="col-md-3">
					<h2>Acerca de la aplicacion</h2>
					cualquier cosa que quieras saber acerca de esto
				</div>
			</div>

		</div>

	</body>
</html>
